body.dark-mode{
    background-color: #121212;
    color: white;
}

.dark-mode .list-group-item{
    background-color: #333;
    color: white;
}

.dark-mode .btn{
    border: 1px solid white;
}